html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

p {
  margin: 0;
}

body {
  height: 100%;
  min-width: 320px;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 120%;
  color: #fff;
  background-color: #080311;
}

body.lock {
  overflow: hidden;
}

.container {
  max-width: 1255px;
  padding: 0px 15px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 0 auto;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
}

.footer {
  flex: 0 0 auto;
}

.social {
  display: flex;
  align-items: center;

  a {
    display: block;
    transition: linear .2s;

    &:hover {
      opacity: .6;
    }
  }

  li {
    margin: 0 16px 0 0;
  }
}

.title {
  position: relative;
  padding: 0 0 0 20px;
  font-size: 40px;
  font-weight: 800;
  line-height: 100%;
  text-transform: uppercase;

  strong {
    display: flex;
    margin: 9px 0 0 0;
    font-size: 60px;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 3px;
    width: 4px;
    height: 93%;
    background-color: #50C6FF;
  }
}

.slick-dots {
  display: flex;
  justify-content: center;
  margin: 30px 0 0 0;

  li {
    cursor: pointer;
  }

  li+li {
    margin: 0 0 0 6px;
  }

  .slick-active {
    button {
      width: 30px;
      background: linear-gradient(117deg, #FC466B 0%, #3F5EFB 100%);
    }
  }

  button {
    font-size: 0;
    border: none;
    outline: none;
    cursor: pointer;
    width: 15px;
    height: 3px;
    border-radius: 50px;
    background: linear-gradient(109deg, rgba(252, 70, 107, 0.20) 0%, rgba(63, 94, 251, 0.20) 100%);
  }
}