@media (max-width: 1200px) {
  .about__box-img {
    max-width: 300px;
  }

  .about__left {
    margin: -30px 15px 0 -55px;
    max-width: 480px;
  }

  .menu__right {
    width: 620px;
    margin: 0 -15px 0 auto;
  }

  .contacts__right {
    max-width: 400px;
  }

  .footer__inner {
    align-items: flex-start;
  }

  .footer__inner ul {
    display: inline;
    column-count: 3;
    column-gap: 90px;
  }

  .reviews__item {
    max-width: 100%;
    width: 100%;
  }

  .reviews__item-inner::after {
    opacity: 1;
    height: 99%;
  }
  .intro{
    background-image: none;
  }
  .intro__right{
    max-width: 700px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media (max-width: 1100px) {
  .intro__left h1 {
    font-size: 40px;
    line-height: 100%;
  }

  .intro__left h1 strong {
    font-size: 50px;
  }

  .intro__left p {
    font-size: 18px;
    margin: 0 0 40px 0;
  }

  .btn--white {
    padding: 20px 50px;
    font-size: 16px;
  }

  .intro__inner {
    min-height: 615px;
  }

  .about__box-img {
    display: none;
  }

  .change__inner {
    max-width: 550px;
    margin: 0 auto;
    flex-direction: column;
    padding: 67px 30px 70px 50px;
    min-height: 474px;
  }

  .change__left .list {
    margin: 0;
  }

  .change__left,
  .change__right .list {
    max-width: 100%;
  }

  .change__right {
    margin: 0 0 0 0;
    padding: 0;
  }

  .change__inner::before {
    background-image: url("../images/dest/icons/change-box-mob.svg");
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
  }

  .change__right-box {
    max-width: 452px;
    width: 100%;
    margin: 35px 15px 16px 5px;
  }

  .change {
    padding: 80px 0 80px;
  }

  .banner__inner {
    padding: 45px 350px 44px 30px;
  }

  .banner__inner::before {
    width: 327px;
    height: 273px;
    right: 25px;
  }

  .preference__list li {
    width: calc(33.33333% - 24px);
  }

  .cost__inner::before {
    width: 420px;
    height: 455px;
  }

  .cost__inner {
    padding: 94px 325px 50px 45px;
  }

  .cost .title strong,
  .reviews .title strong,
  .info .title strong {
    letter-spacing: 0;
  }

  .contacts__list>li {

    width: calc(100% - 48px);
  }

  .footer__inner ul {

    column-gap: 30px;
  }

  .card-item--catalog,
  .info-card--blog {
    width: calc(33.33333% - 25px);
  }

  .preference .registration__paralax-1 {
    width: 70px;
  }

  .preference .registration__paralax-2 {
    width: 100px;
  }

  .reviews .registration__paralax-2 {
    top: 12%;
  }
}

@media (max-width: 900px) {
  .about {
    padding: 30px 0 50px;
  }

  .about__inner {
    position: relative;
    flex-direction: column;
  }

  .about__right {
    margin: 0;
  }

  .about__right::before {
    top: 130px;
    left: -10px;
    right: -10px;
    width: calc(100% + 20px);
  }

  .about__left {
    margin: 0 0 -50px -30px;
    max-width: 270px;
  }

  .about__box-img {
    margin: 0 0 0 15px;
    display: block;
    position: inherit;
  }

  .title {
    font-size: 26px;

    strong {
      font-size: 38px;
    }
  }

  .menu__inner {
    flex-direction: column;
  }

  .menu__left {
    margin: 0 0 40px 0;
    max-width: 100%;
    width: 100%;
  }

  .menu__right {
    width: 100%;
    margin: 0;
  }

  .card-item__img {
    height: 140px;
    margin: 0 0 15px 0;
  }

  .card-item {
    padding: 10px 10px 20px 10px;
  }

  .menu__right-slider .slick-slide {
    margin: 0 10px 0 10px;
  }

  .menu {
    padding: 45px 0 50px;
  }

  .banner {
    padding: 50px 0;
  }

  .preference__list li {
    width: calc(50% - 24px);
  }

  .cost {
    padding: 50px 0 50px;
  }

  .cost .title {
    margin: 0 0 -45px 25px;
  }

  .questions .title::after {
    width: 335px;
    height: 275px;
  }

  .footer__inner ul {
    margin: 0 0 0 auto;
    column-gap: 20px;
  }

  .card-item--catalog,
  .info-card--blog {
    width: calc(50% - 25px);
  }

  .title.title--page {
    font-size: 36px;
    line-height: 100%;
  }

  .article .container>img {
    height: 350px;
  }

  .card {
    padding: 60px 0 90px;
  }

  .card .title {
    font-size: 34px;
  }

  .menu__right-slider .slick-track {
    margin: 0;
  }

  .menu .registration__paralax-2 {
    bottom: auto;
    top: 35%;
    left: 15%;
  }
  .accordeon dl::before{
    background-image: url("../images/dest/icons/border-form.svg");
  }
}


@media (max-width: 700px) {
  .intro__inner {
    min-height: auto;
  }

  .intro__left {
    padding: 120px 0 50px;
  }


  .intro__left h1 {
    font-size: 25px;
    line-height: 100%;
  }

  .intro__left h1 strong {
    font-size: 30px;
  }

  .btn.btn--header {
    display: none;
  }

  .intro__left h1::before {
    width: 250px;
    height: 250px;
    top: -98px;
    left: -66px;
  }

  .intro__right {
    max-width: auto;
    width: 150%;
  }

  .about__left {
    position: inherit;
  }

  .about__item {
    padding: 25px 26px 25px 25px;
    max-width: 100%;

    p {
      margin: 0 0 8px 0;
      font-size: 18px;
    }
  }

  .change {
    padding: 50px 0 80px;
  }

  .change__inner {
    padding: 67px 35px 70px 20px;
  }

  .change__right-box {
    padding: 20px 15px 20px 15px;
  }

  .change__right-box p {
    margin: 0 0 8px 0;
    font-size: 16px;
  }

  .menu .list {
    margin: 0 0 30px 0;
  }

  .banner__inner {
    padding: 45px 15px 44px 15px;
  }

  .banner__inner::before {
    z-index: -1;
    opacity: .7;
    right: -25px;
  }

  .preference__list li {
    padding: 23px 10px 35px 10px;
  }

  .preference .title::after,
  .info .title::after {
    width: 250px;
    height: 250px;
    top: -65px;
    left: -66px;
  }

  .cost__inner::before {
    width: 290px;
    height: 315px;
  }

  .cost__inner {
    padding: 70px 180px 50px 25px;
  }

  .reviews .container>p {
    margin: 0 0 40px 0;
  }

  .about__item {
    max-width: 250px;
    flex-shrink: 0;
  }

  .about__box-img {
    flex-shrink: 1;
  }

  .contacts__inner {
    flex-direction: column;
  }

  .accordeon dl {
    margin: 0 0 15px 0;
    padding: 0 30px 15px 15px;
  }

  .contacts__left {
    margin: 0 0 80px 0;
    max-width: 100%;
    width: 100%;
  }

  .contacts__list>li {
    padding: 15px 15px 15px 15px;
  }

  .form {
    margin: 0 0 0 20px;
  }

  .contacts__right,
  .form {
    max-width: 100%;
  }

  .form h6::before {
    top: -136px;
    right: -113px;
    width: 250px;
    height: 250px;
  }

  .footer__inner {
    flex-direction: column;
  }

  .footer__inner ul {
    margin: 20px 0 0 0;
  }

  .footer__inner ul a {
    padding: 10px 10px 10px 0;
  }

  .footer__inner ul {
    column-count: 2;
  }

  .card-item--catalog,
  .info-card--blog {
    width: calc(100% - 25px);
  }

  .card-item--catalog .card-item__img {
    height: 180px;
    margin: 0 0 30px 0;
  }

  .arrow-up {
    bottom: 50px;
  }

  .pagination__list li+li {
    margin-left: 5px;
  }

  .article__inner {
    flex-direction: column;
  }

  .article .social {
    margin: 0 0 30px 0;
    flex-direction: row;
    position: static;
  }

  .article .social li {
    margin: 0 24px 0 0;
  }

  .article .container>img {
    height: 300px;
  }

  .article__content img {
    height: 220px;
  }

  .article span {
    margin: -17px 1px 0 20px;
  }

  .article h1 {
    font-size: 30px;
  }

  .article h2 {
    font-size: 28px;
  }

  .article h3 {
    font-size: 24px;
  }

  .article blockquote {
    margin: 0 0 30px 0;
    padding: 24px 20px 24px 20px;
  }

  .breadcrumbs {
    margin: 35px 0 5px;
  }

  .catalog .container::after,
  .blog .container::after {
    position: absolute;
    top: -63px;
    right: -145px;
    z-index: -1;
    content: "";
    width: 320px;
    height: 320px;
  }

  .card {
    padding: 60px 0 40px;
  }

  .card__inner {
    flex-direction: column;
  }

  .card__left {
    max-width: 300px;
    margin: 0 40px 80px 20px;
  }

  .card .title {
    font-size: 26px;
  }

  .card strong {
    margin: 0 0 28px 0;
    font-size: 16px;
  }

  .card__inner::before {
    top: -123px;
    right: -145px;
    width: 290px;
    height: 290px;
  }

  .about__left {
    max-width: 100%;
  }

  .menu .registration__paralax-2 {
    width: 65px;
    bottom: 2px;
    left: 26%;
  }

  .banner__inner::after {
    background-image: url('../images/dest/icons/border.svg');
  }

  .preference .registration__paralax-1 {
    top: 0;
  }

  .preference .registration__paralax-2 {
    top: -20px;
  }

  .reviews .registration__paralax-1 {
    top: -1%;
    right: auto;
    left: 3%;
  }

  .reviews .registration__paralax-2 {
    top: -18%;
  }
  .preference .registration__paralax-3{
    width: 80px;
    top: 0;
  }
}


@media (max-width: 420px) {
  .header__menu {
    padding: 165px 44px 65px 30px;
  }

  .header__menu-close {
    margin: -85px 0 50px -20px;
  }

  .preference__list li {
    width: 100%;
  }

  .cost__inner::before {
    display: none;
  }

  .cost__inner {
    padding: 94px 25px 50px 25px;
  }

  .cost .title {
    &::after {
      position: absolute;
      top: -70px;
      right: -85px;
      z-index: -1;
      content: "";
      width: 250px;
      height: 250px;
      background-image: url("../images/dest/icons/intro-title-bg.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }

  .about__box {
    flex-direction: column;
  }

  .about__item {
    max-width: 100%;
  }

  .footer__inner ul a {
    font-size: 14px;
  }

  .footer__bottom-inner {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer__copyright {
    margin: 0 0 15px 0;
  }

  .footer__bottom-inner ul li {
    margin: 0 10px 0 0;
  }
}